

/////Color Variables/////
$blue: #154360;
$red: #943126;
$green: #45b39d;
$white: #f9f9f9; 
$grey: rgb(102, 102, 102);
$lt-white: rgba(255, 255, 255, .5);


/////Font-Color Classes//////
.font-blue {
	color:$blue;
}

.font-red {
	color: $red;
}

.font-green {
	color: $green;
}

.font-white {
	color: $white;
}

.font-lt-white {
  color: $lt-white; 
}


/////Background-Colors/////
.bg-white {
	background-color: $white;
	
}

.bg-blue {
	background-color: $blue;
}

.bg-green {
	background-color: $green;
}

/////Button-Colors/////
.btn-primary {
	background-color: $red!important; 
	color: $white!important; 
  border: none;
}

.btn-outline-secondary {
  background-color: $lt-white;
  color: $white; 
  border: 1px solid $lt-white; 
  font-size: 14px;
}

.btn-outline-secondary:focus, .btn-outline-secondary:hover {
  background-color:  rgba(255, 255, 255, .3)!important;
  border: 1px solid $lt-white!important;
}


.btn-secondary {
  background-color: $green!important;
  color: $white!important; 
  border: 1px solid $lt-white!important;
  font-size: 14px;
}

.btn-secondary:hover, .btn-secondary:focus,  {
  background-color: rgba(69,179,157, 0.7)!important;
}



.btn-fb {
  background-color: #3b5998;
  color: $white!important; 
  border: 1px solid $lt-white!important;
  font-size: 14px;
}

/////Alert Buttons////
.alert-primary {
  background-color: $red!important; 
}

/////Logo & title style/////
.logo, .title {
  font-weight: 900;
  font-style: italic;
}

hr {
  border-style: inset;
    border-width: 1px;
    border-color: $green;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



/** Globals*/
body {
  font-family: 'Roboto', sans-serif;
  color: $grey;}


/* Links */
a,
a:focus,
a:hover {
  color: $lt-white;
}



/** Base structure **/

html,
body {
  height: 100%;
  background-color: $blue;
  overflow-x: hidden;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.cover-container {
  max-width: 42em;
  position: relative; 
}


/* * Cover **/
.cover {
  min-width: 20rem;
}

#form-width {
  max-width: 75%;
}

.results-container {
  padding-bottom: 10rem;
}

///// Footer Icons /////
.mastfoot i {
  color: rgba(255, 255, 255, .5);
}

.mastfoot i:hover {
  color: rgba(255, 255, 255, .75);
}


//// Index & Sign In Waves background ////
.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg); 
  left: 0;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 1700px;
  height: 1500px;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 43%;
  z-index: -5;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.wave.-one {
  animation: rotate 30000ms infinite linear;
  opacity: .1;
  background: #0af;
  
}

.wave.-two {
  animation: rotate 25000ms infinite linear;
  opacity: .1;
  background: black;
  
}

/*.wave.-three {
  animation: rotate 28000ms infinite linear;
  background-color: #77daff;
  opacity: .1;
} */


