// Resetting from the mobile up!
// 
// Dropping the root* element font size to 14px is something
// I do on almost all projects, a 16px font size on mobiles
// is not normally needed. --> Only my opinion of course!
//
// At mobile size I used the scale "Major Second" from 
// type-cale.com to set out the heading sizes as well as the
// "Major Third" scale for the .display-* classes however my
// technique was to begin the scale from the h1's front size.
// To do this simply do the h1 font size * scale size. So in 
// in this example it was 1.602 * 1.250 = 2.0025 I went with 
// 2em to keep it simple.
//
//------------------------------------------------------------//
html,
body {
	font-size: 14px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

// Medium devices (tablets, 48em and up)
// 
// At this point you have overridden Bootstraps rem's and are
// into module based font sizes should you require it. 
//
// I took a while over this change because I felt that there
// is no reason why I cant use a modified scale on another 
// device size. So I did, the headings have now taken on
// "Perfect Fourth" and the dislpay-* has been put to the
// Bootstrap defaults.
//
//------------------------------------------------------------//
@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}



/////Color Variables/////
$blue: #154360;
$red: #943126;
$green: #45b39d;
$white: #f9f9f9; 
$grey: rgb(102, 102, 102);
$lt-white: rgba(255, 255, 255, .5);


/////Font-Color Classes//////
.font-blue {
	color:$blue;
}

.font-red {
	color: $red;
}

.font-green {
	color: $green;
}

.font-white {
	color: $white;
}

.font-lt-white {
  color: $lt-white; 
}

/////Text Sizing/////
.font-xs {
  font-size: .75rem!important;
}


/////Background-Colors/////
.bg-white {
	background-color: $white;
	
}

.bg-blue {
	background-color: $blue;
}

.bg-green {
	background-color: $green;
}

/////Button-Colors/////
.btn-primary {
	background-color: $blue!important; 
	color: $white!important; 
  border: none;
}

.btn-primary:focus, .btn-primary:hover {
	background-color: rgba(21,67,96,.8)!important; 
	color: $white!important; 
  border: none;
}

.btn-outline-secondary {
  background-color: $lt-white;
  color: $white; 
  border: 1px solid $lt-white; 
}

.btn-outline-secondary:focus, .btn-outline-secondary:hover {
  background-color:  rgba(255, 255, 255, .3)!important;
  border: 1px solid $lt-white!important;
}


.btn-secondary {
  background-color: $green!important;
  color: $white!important; 
  border: 1px solid $lt-white!important;
 
}

.btn-secondary:hover, .btn-secondary:focus  {
  background-color: rgba(69,179,157, 0.7)!important;
}



.btn-fb {
  background-color: #3b5998;
  color: $white!important; 
  border: 1px solid $lt-white!important;
  
}

/////Alert Buttons////
.alert-primary {
  background-color: $red!important; 
}

/////Logo & title style/////
.logo, .title {
  font-weight: 900;
  font-style: italic;
}

hr {
  border-style: inset;
    border-width: 1px;
    border-color: $green;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



/** Globals*/



/* Links */
a,
a:focus {
  color: $lt-white;
  text-decoration: none; 
}

a:hover {
  color:  rgba(255, 255, 255, .7);
  text-decoration: none; 
}

.paragraph-link,
.paragraph-link:focus {
  color: $green;
  text-decoration: none; 
}

.paragraph-link:hover {
  color:  rgba(69, 179, 157, .7);
  text-decoration: none; 
}

.card-link-text,
.card-link-text:focus
 {
  color: $grey;
  text-decoration: none; 
}

.card-link-text:hover {
  color: $grey;
  text-decoration: none; 
  background-color: #f8f9fa ;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}



/** Base structure **/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: $grey;
  width: 100%;
}

.container-z-waves {
  position: relative;
}

#index-main-box {
  min-width: 20rem;
}

#signin-main-row {
  max-width: 15rem;
  margin: 3rem auto 0;
  padding-bottom: 75px;
}

.main-page-container {
  padding-top: 125px; 
}


.results-container {
  padding-bottom: 75px;
}

/////Icons//////



///// Footer Icons /////
.mastfoot i {
  color: rgba(255, 255, 255, .5);
}

.mastfoot i:hover {
  color: rgba(255, 255, 255, .75);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 10;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.slick-slide {
   height:150px;
   width: 100px;
}




////Background Images////
#feature-tallship {
    background-image: -moz-linear-gradient(45deg, rgba(21,67,96,.6) 25%, rgba(21,67,96,.6) 100%), url("../img/appledoreII-16x9.png");
    background-image: -webkit-linear-gradient(45deg,rgba(21,67,96,.6) 25%,rgba(21,67,96,.6) 100%), url("../img/appledoreII-16x9.png");
    background-image: linear-gradient(45deg, rgba(21,67,96,.6) 25%,rgba(21,67,96,.96) 100%), url("../img/appledoreII-16x9.png");
    background-position: bottom center;
    background-size: cover;
}

#feature-listing {
    background-image: -moz-linear-gradient(45deg, rgba(21,67,96,.6) 25%, rgba(21,67,96,.6) 100%), url("../img/timberwind-16x9.png");
    background-image: -webkit-linear-gradient(45deg,rgba(21,67,96,.6) 25%,rgba(21,67,96,.6) 100%), url("../img/timberwind-16x9.png");
    background-image: linear-gradient(45deg, rgba(21,67,96,.6) 25%,rgba(21,67,96,.96) 100%), url("../img/timberwind-16x9.png");
    background-position: bottom center;
    background-size: cover;
}

#feature-resource {
    background-image: -moz-linear-gradient(45deg, rgba(21,67,96,.6) 25%, rgba(21,67,96,.6) 100%), url("../img/appledoreII-16x9.png");
    background-image: -webkit-linear-gradient(45deg,rgba(21,67,96,.6) 25%,rgba(21,67,96,.6) 100%), url("../img/appledoreII-16x9.png");
    background-image: linear-gradient(45deg, rgba(21,67,96,.6) 25%,rgba(21,67,96,.96) 100%), url("../img/appledoreII-16x9.png");
    background-position: bottom center;
    background-size: cover;
}


//// Index & Sign In Waves background ////
.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg); 
  left: 0;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 1700px;
  height: 1500px;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 43%;
  z-index: 3;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.wave.-one {
  animation: rotate 30000ms infinite linear;
  opacity: .1;
  background: #0af;
  
}

.wave.-two {
  animation: rotate 25000ms infinite linear;
  opacity: .1;
  background: black;
  
}

/*.wave.-three {
  animation: rotate 28000ms infinite linear;
  background-color: #77daff;
  opacity: .1;
} */





.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  display: none;
  background-color: $green;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 0;
  will-change: transform;
  //background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
