html,
body {
  font-size: 12px !important;
}

h1 {
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.889em;
}

h6 {
  font-size: 0.79em;
}

.display-1 {
  font-size: 3.906em;
}

.display-2 {
  font-size: 3.125em;
}

.display-3 {
  font-size: 2.5em;
}

.display-4 {
  font-size: 2em;
}

p {
  font-size: 12px;
}

.font-blue {
  color: #154360;
}

.font-red {
  color: #943126;
}

.font-green {
  color: #45b39d;
}

.font-white {
  color: #f9f9f9;
}

.font-lt-white {
  color: rgba(255, 255, 255, 0.6);
}

.font-xs {
  font-size: 0.75rem !important;
}

.bg-white {
  background-color: #f9f9f9;
}

.bg-lt-white {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-blue {
  background-color: #154360;
}

.bg-lt-blue-2 {
  background-color: rgba(21, 67, 96, 0.3);
}

.bg-lt-blue-3 {
  background-color: rgba(21, 67, 96, 0.1);
}

.bg-green {
  background-color: #45b39d;
}

.bg-red {
  background-color: #943126;
}

.btn-primary {
  background-color: #154360 !important;
  color: #f9f9f9 !important;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: rgba(21, 67, 96, 0.8) !important;
  color: #f9f9f9 !important;
  text-transform: uppercase;
}

.btn-primary-search {
  background-color: #154360 !important;
  color: #f9f9f9 !important;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary-search:focus, .btn-primary:hover {
  background-color: rgba(21, 67, 96, 0.8) !important;
  color: #f9f9f9 !important;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-outline-secondary {
  background-color: rgba(255, 255, 255, 0.6);
  color: #f9f9f9;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.btn-outline-secondary:focus, .btn-outline-secondary:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #45b39d !important;
  color: #f9f9f9 !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  text-transform: uppercase;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: rgba(69, 179, 157, 0.7) !important;
  text-transform: uppercase;
}

.btn-history {
  color: #45b39d !important;
}

.btn-history:hover, .btn-history:focus {
  color: rgba(69, 179, 157, 0.7) !important;
}

#fav-icon {
  color: #154360;
}

.fa-share-alt {
  color: #154360;
}

.nav-hover:hover {
  background-color: #154360 !important;
  color: #f9f9f9 !important;
}

.btn-fb {
  background-color: #3b5998;
  color: #f9f9f9 !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.alert-primary {
  background-color: #943126 !important;
}

.logo, .title {
  font-weight: 900;
  font-style: italic;
}

hr {
  border-style: inset;
  border-width: 1px;
  border-color: #45b39d;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/** Globals*/
body {
  width: 100%;
  height: 100%;
}

/* Links */
a,
a:focus {
  color: #f9f9f9;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.map-marker-content-a {
  color: #154360;
  text-decoration: none;
}

.map-marker-content-a:hover {
  color: rgba(21, 67, 96, 0.6);
  text-decoration: none;
}

.paragraph-link,
.paragraph-link:focus {
  color: #45b39d;
  text-decoration: none;
}

.paragraph-link:hover {
  color: rgba(69, 179, 157, 0.7);
  text-decoration: none;
}

.card-link-text,
.card-link-text:focus {
  color: #154360;
  text-decoration: none;
}

.card-link-text:hover {
  color: rgba(21, 67, 96, 0.6);
  text-decoration: none;
}

/** Base structure **/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #154360;
  width: 100%;
}

.container-z-waves {
  position: relative;
}

#index-main-box {
  min-width: 20rem;
}

#signin-main-box {
  padding-top: 3rem;
}

.top-page-jumbo {
  padding-top: 8.75rem;
}

.top-page-jumbo-alt {
  padding-top: 5rem;
}

.results-container {
  padding-bottom: 6rem;
}

.notification-container {
  padding-bottom: 5rem;
}

#signin-container {
  margin-bottom: 5rem;
}

.form-control {
  color: rgba(21, 67, 96, 0.6) !important;
  font-weight: 300;
  border: 1px solid #154360 !important;
  border-radius: 0 !important;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

input.form-control {
  padding: 8px 16px 8px 8px;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  background-image: url("../img/angle-double-down-solid.svg");
  background-size: 7px;
  padding-right: 1.5em;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(21, 67, 96, 0.6) !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(21, 67, 96, 0.6) !important;
}

input::-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(21, 67, 96, 0.6) !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(21, 67, 96, 0.6) !important;
}

.active-pills {
  color: #154360;
  border-bottom: 1px solid #154360;
  padding: 0 0 3px 0;
}

.active-pills:hover, .active-pills:focus {
  color: #45b39d;
  border-bottom: 1px solid #45b39d;
  padding: 0 0 3px 0;
}

.inactive-pills {
  color: rgba(21, 67, 96, 0.6);
}

.inactive-pills:hover, .inactive-pills:focus {
  color: #45b39d;
}

#feature-tallship {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/appledoreII-16x9.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/appledoreII-16x9.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/appledoreII-16x9.png");
  background-position: bottom center;
  background-size: cover;
}

#feature-listing {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/timberwind-16x9.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/timberwind-16x9.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/timberwind-16x9.png");
  background-position: bottom center;
  background-size: cover;
}

#feature-resource {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/hamilton-marine.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/hamilton-marine.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.96) 100%), url("../img/hamilton-marine.png");
  background-position: bottom center;
  background-size: cover;
}

#feature-company {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/neropes-img.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.8) 100%), url("../img/neropes-img.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.8) 25%, rgba(21, 67, 96, 0.96) 100%), url("../img/neropes-img.png");
  background-position: center center;
  background-size: cover;
}

img.lazy {
  max-width: 100% !important;
  height: auto !important;
}

summary {
  font-size: 14px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.top-shadow {
  box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
}

.side-shadow {
  box-shadow: -10px 0px 1rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -10px 0px 1rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 0px 1rem rgba(0, 0, 0, 0.3);
}

#sign-in-slide-bg, #index-slide-bg {
  background-color: #154360 !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #45b39d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #45b39d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select, input[type="text"],
select:focus,
input[type="text"]:focus, select.form-control {
  font-size: 16px;
}

.firebaseui-tos {
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  direction: ltr;
  font-size: 10px !important;
  line-height: 16px;
  padding: 0 24px;
  margin-bottom: 24px;
  margin-top: 24px !important;
  text-align: center !important;
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
  .display-5 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body, p {
    font-size: 16px !important;
  }
}

@media (min-width: 75em) {
  html,
  body, p {
    font-size: 18px !important;
  }
}
