html,
body {
  font-size: 14px !important;
}

h1 {
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.889em;
}

h6 {
  font-size: 0.79em;
}

.display-1 {
  font-size: 3.906em;
}

.display-2 {
  font-size: 3.125em;
}

.display-3 {
  font-size: 2.5em;
}

.display-4 {
  font-size: 2em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
}

@media (min-width: 62em) {
  html,
  body {
    font-size: 16px !important;
  }
}

@media (min-width: 75em) {
  html,
  body {
    font-size: 18px !important;
  }
}

.font-blue {
  color: #154360;
}

.font-red {
  color: #943126;
}

.font-green {
  color: #45b39d;
}

.font-white {
  color: #f9f9f9;
}

.font-lt-white {
  color: rgba(255, 255, 255, 0.6);
}

.font-xs {
  font-size: 0.75rem !important;
}

.bg-white {
  background-color: #f9f9f9;
}

.bg-blue {
  background-color: #154360;
}

.bg-green {
  background-color: #45b39d;
}

.btn-primary {
  background-color: #154360 !important;
  color: #f9f9f9 !important;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: rgba(21, 67, 96, 0.8) !important;
  color: #f9f9f9 !important;
  text-transform: uppercase;
}

.btn-outline-secondary {
  background-color: rgba(255, 255, 255, 0.6);
  color: #f9f9f9;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.btn-outline-secondary:focus, .btn-outline-secondary:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #45b39d !important;
  color: #f9f9f9 !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  text-transform: uppercase;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: rgba(69, 179, 157, 0.7) !important;
  text-transform: uppercase;
}

.nav-hover:hover {
  background-color: #154360 !important;
  color: #f9f9f9 !important;
}

.btn-fb {
  background-color: #3b5998;
  color: #f9f9f9 !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.alert-primary {
  background-color: #943126 !important;
}

.logo, .title {
  font-weight: 900;
  font-style: italic;
}

hr {
  border-style: inset;
  border-width: 1px;
  border-color: #45b39d;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/** Globals*/
body {
  width: 100%;
  height: 100%;
}

/* Links */
a,
a:focus {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.paragraph-link,
.paragraph-link:focus {
  color: #45b39d;
  text-decoration: none;
}

.paragraph-link:hover {
  color: rgba(69, 179, 157, 0.7);
  text-decoration: none;
}

.card-link-text,
.card-link-text:focus {
  color: #666666;
  text-decoration: none;
}

.card-link-text:hover {
  color: #666666;
  text-decoration: none;
  background-color: #f8f9fa;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

/** Base structure **/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #666666;
  width: 100%;
}

.container-z-waves {
  position: relative;
}

#index-main-box {
  min-width: 20rem;
}

#signin-main-box {
  padding-top: 3rem;
}

.top-page-jumbo {
  padding-top: 8rem;
}

.results-container {
  margin-bottom: 5rem;
}

#signin-container {
  margin-bottom: 5rem;
}

.mastfoot i {
  color: rgba(255, 255, 255, 0.5);
}

.mastfoot i:hover {
  color: rgba(255, 255, 255, 0.75);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 10;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.slick-slide {
  height: 150px;
  width: 100px;
}

#feature-tallship {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.6) 100%), url("../img/appledoreII-16x9.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.6) 100%), url("../img/appledoreII-16x9.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.96) 100%), url("../img/appledoreII-16x9.png");
  background-position: bottom center;
  background-size: cover;
}

#feature-listing {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.6) 100%), url("../img/timberwind-16x9.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.6) 100%), url("../img/timberwind-16x9.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.96) 100%), url("../img/timberwind-16x9.png");
  background-position: bottom center;
  background-size: cover;
}

#feature-resource {
  background-image: -moz-linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.6) 100%), url("../img/appledoreII-16x9.png");
  background-image: -webkit-linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.6) 100%), url("../img/appledoreII-16x9.png");
  background-image: linear-gradient(45deg, rgba(21, 67, 96, 0.6) 25%, rgba(21, 67, 96, 0.96) 100%), url("../img/appledoreII-16x9.png");
  background-position: bottom center;
  background-size: cover;
}

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 1700px;
  height: 1500px;
  margin-right: -150px;
  margin-top: -150px;
  border-radius: 43%;
  z-index: 3;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.wave.-one {
  animation: rotate 30000ms infinite linear;
  opacity: .1;
  background: #0af;
}

.wave.-two {
  animation: rotate 25000ms infinite linear;
  opacity: .1;
  background: black;
}

/*.wave.-three {
  animation: rotate 28000ms infinite linear;
  background-color: #77daff;
  opacity: .1;
} */
.slideout-menu {
  position: fixed;
  background-color: #45b39d;
  top: 0;
  bottom: 0;
  width: 275px;
  min-height: 100vh;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  margin-right: 0;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 5;
  will-change: transform;
  background-color: #154360;
  /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.top-shadow {
  box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
}

.side-shadow {
  box-shadow: -10px 0px 1rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -10px 0px 1rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 0px 1rem rgba(0, 0, 0, 0.3);
}
